<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <!-- Font Google -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

        <!-- Style -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

        <!-- Responsive Style -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css') }}">

        <!-- Title Bar -->
        <link rel="icon" href="{{ url_for('static',filename='Assets/img/Logo Small.png') }}" type="image/x-icon">
        <title>Pasti Sampai Express</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent position-fixed w-100">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home_page') }}">
                    <img src="{{ url_for('static',filename='Assets/img/Logo Small.png') }}" alt="" width="30" height="24" class="d-inline-block align-text-top me-3">
                    PASTI SAMPAI EXPRESS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                            {% if current_user.is_authenticated %}
                                {% if current_user.roles == 'admin' %}
                            <li class="nav-item mx-2">
                                <a href="{{ url_for('dashboard_admin_page') }}" class="nav-link {{ 'active' if request.path == url_for('dashboard_admin_page') }}">ADD</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a href="{{ url_for('update_page') }}"  class="nav-link {{ 'active' if request.path == url_for('update_page') }}">UPDATE</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a href="{{ url_for('tracking_page') }}" class="nav-link {{ 'active' if request.path == url_for('tracking_page') }}">TRACKING</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a href="{{ url_for('account_info') }}" class="nav-link {{ 'active' if request.path == url_for('account_info') }}">ACCOUNT</a>
                            </li>
                                {% else %}
                            <li class="nav-item mx-2">
                                <a href="{{ url_for('dashboard_page') }}" class="nav-link {{ 'active' if request.path == url_for('dashboard_page') }}">TRACKING</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a href="{{ url_for('account_info') }}" class="nav-link {{ 'active' if request.path == url_for('account_info') }}">ACCOUNT</a>
                            </li>
                                {% endif %}
                            {% else %}
                            <li class="nav-item mx-2">
                            <!--  -->
                            <a href="{{ url_for('home_page') }}" class="nav-link {{ 'active' if request.path == url_for('home_page') }}">HOME</a>
                            </li>
                            <li class="nav-item mx-2">
                            <a href="{{ url_for('service_page') }}" class="nav-link {{ 'active' if request.path == url_for('service_page') }}">SERVICE</a>
                            </li>
                            <li class="nav-item mx-2">
                            <a href="{{ url_for('about_page') }}" class="nav-link {{ 'active' if request.path == url_for('about_page') }}">ABOUT</a>
                            </li>
                            <!--  -->
                            {% endif %}
                    </ul>
                    <div>
                        {% if current_user.is_authenticated %}
                        <button class="button-primary">
                            <a href="{{ url_for('account_info') }}">
                                <img src="{{ url_for('static',filename='Assets/img/user.png') }}" alt="">
                                {{current_user.username}}</a>
                        </button>
                        <button class="button-secondary">
                            <a href="{{ url_for('logout_page') }}">LOGOUT</a>
                        </button>
                        {% else %}
                        <!--  -->
                        <button class="button-primary">
                            <a href="{{ url_for('register_page')}}">REGISTER</a>
                        </button>
                        <button class="button-secondary">
                            <a href="{{ url_for('login_page')}}">LOGIN</a>
                        </button>
                        <!--  -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
           <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
           {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Hero Section-->
        {% block content %}
        <section id="home">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-8 home-tagline my-auto">
                        <h1>Mau Kirim Paket?</h1>
                        <h1>Pilih Yang Pasti - Pasti Aja!</h1>
                        <p><span class="fw-bold">Pasti Sampai Cargo</span> hadir untuk memudahkan anda dalam mengirimkan paket ke seluruh wilayah pulau Jawa dengan cepat dan tentunya pasti sampai!</p>
                        <button class="button-lg-primary">
                            <a href="{{ url_for('about_page')}}">Drop Point Terdekat</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
        <script src="{{ url_for('static',filename='js/script.js') }}"></script>
        <!-- Optional JavaScript; choose one of the two! -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block script %}
        {% endblock %}
    </body>

</html>