{% extends 'index.html' %}
{% block content %}
<section id="update">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 update-tagline my-auto">
                <!-- Bagian Tagline -->
                <h1>UPDATE LOCATION</h1>
                <p>Isi form dibawah dengan benar!</p>

                <!-- Bagian Utama -->
                <form method="POST">
                    <!-- Input No Resi -->
                    {{form.hidden_tag()}}
                    {{form.noresi(onchange="cekResi()",class='form-control input-update mt-3',placeholder='No Resi',id='resi')}}
                    <!-- Input Tanggal Terbaru -->
                    {{form.tanggal(class='form-control input-update mt-3',placeholder='Tanggal')}}
                    <!-- Input Lokasi Terbaru -->
                    {{form.arrived_at(class='form-control input-update mt-3',placeholder='Lokasi Terkini')}}
                    <!-- Button Submit -->
                    {{form.submit(class='button-update-disabled mt-3',disabled=True,id='submitform')}}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    function cekResi(){
        resi = parseInt(document.getElementById('resi').value)
        let url = "{{ url_for('cek_resi') }}"; // send the form data here.
        submitform = document.getElementById('submitform')
            $.ajax({
                type: "POST",
                url: url,
                data: {'resi':resi},
                success: function (data) {
                    submitform.disabled = true
                    $("#submitform").attr('class', 'button-update-disabled mt-3');
                    toastr.error(data)// display the returned data in the console.
                },
                error: function(){
                    $("#submitform").attr('class', 'button-update mt-3');
                    submitform.disabled = false                
                }
            });
    }
    $(document).ready(function() {
        $('form').submit(function (e) {
            var url = "{{ url_for('update_page') }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                success: function (data) {
                    toastr.success(data)
                },
                error: function(xhr){
                    data = xhr.responseJSON
                    for (let i = 0; i < data.length; i++){
                        toastr.error(data[i])
                    }
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });

        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>
{% endblock %}